*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.header__container{
    display: flex;
    justify-content: center;
    margin: 3rem;
    background-color: #F66B0E;
    border: black solid 0.5rem;
    border-radius: 1rem;
}
.header__container h1{
    font-size: 3rem;
}
.main__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60rem;
}
.square__section{
    display: flex;
    width: 100%;
    height: 20rem;
    flex-wrap: wrap;
}
.square__section__title{
    text-align: center;
    height: max-content;
    width: 100%;
    font-size: 2rem;
    border: black solid;
}
.square__section__subtitle{
    font-size: 1.2rem;
    height: max-content;
    width: 100%;
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form .lado1{
    height: max-content;
    margin: 1rem 1rem;
}
.form .lado1 input{
    width: 8rem;
    border-radius: 0.5rem;
    border: black solid;
}
.form .button1 {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #F66B0E 5%, #F66B0E 100%);
	background-color:#F66B0E;
	border-radius:3px;
	border:1px solid black;
	cursor:pointer;
	text-shadow:0px 1px 0px #854629;
    margin: 0 1rem;
}
.form .button1:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.form .button1:active {
	position:relative;
	top:1px;
}
.form .button2 {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #F66B0E 5%, #F66B0E 100%);
	background-color:#F66B0E;
	border-radius:3px;
	border:1px solid black;
	cursor:pointer;
	text-shadow:0px 1px 0px #854629;
    margin: 0 1rem;
}
.form .button2:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.form .button2:active {
	position:relative;
	top:1px;
}
.square__section .result__section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 2rem 0;
    border: black solid 0.5rem;
}
.square__section .result__section p{
    text-align: center;
    font-size: 2rem;
} 




.triangle__section{
    display: flex;
    width: 100%;
    height: 20rem;
    flex-wrap: wrap;
}
.triangle__section__title{
    text-align: center;
    height: max-content;
    width: 100%;
    font-size: 2rem;
    border: black solid;
}
.triangle__section__subtitle{
    font-size: 1.2rem;
    height: max-content;
    width: 100%;
    text-align: center;
}
.formt{
    display: flex;
    justify-content: center;
    width: 100%;
}
.formt .lado1t{
    height: max-content;
    margin: 1rem 1rem;
}
.formt .lado1t input{
    width: 8rem;
    border-radius: 0.5rem;
    border: black solid;
}
.formt .lado2t{
    height: max-content;
    margin: 1rem 1rem;
}
.formt .lado2t input{
    width: 8rem;
    border-radius: 0.5rem;
    border: black solid;
}
.formt .lado3t{
    height: max-content;
    margin: 1rem 1rem;
}
.formt .lado3t input{
    width: 8rem;
    border-radius: 0.5rem;
    border: black solid;
}
.formt .button1t {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #F66B0E 5%, #F66B0E 100%);
	background-color:#F66B0E;
	border-radius:3px;
	border:1px solid black;
	cursor:pointer;
	text-shadow:0px 1px 0px #854629;
    margin: 0 1rem;
}
.formt .button1t:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.formt .button1t:active {
	position:relative;
	top:1px;
}
.formt .button2t {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #F66B0E 5%, #F66B0E 100%);
	background-color:#F66B0E;
	border-radius:3px;
	border:1px solid black;
	cursor:pointer;
	text-shadow:0px 1px 0px #854629;
    margin: 0 1rem;
}
.formt .button2t:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.formt .button2t:active {
	position:relative;
	top:1px;
}
.formt .button3t {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #F66B0E 5%, #F66B0E 100%);
	background-color:#F66B0E;
	border-radius:3px;
	border:1px solid black;
	cursor:pointer;
	text-shadow:0px 1px 0px #854629;
    margin: 0 1rem;
}
.formt .button3t:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.formt .button3t:active {
	position:relative;
	top:1px;
}
.triangle__section .result__sectiont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 2rem 0;
    border: black solid 0.5rem;
}
.triangle__section .result__sectiont p{
    text-align: center;
    font-size: 2rem;
} 



.circle__section{
    display: flex;
    width: 100%;
    height: 20rem;
    flex-wrap: wrap;
}
.circle__section__title{
    text-align: center;
    height: max-content;
    width: 100%;
    font-size: 2rem;
    border: black solid;
}
.circle__section__subtitle{
    font-size: 1.2rem;
    height: max-content;
    width: 100%;
    text-align: center;
}
.formc{
    display: flex;
    justify-content: center;
    width: 100%;
}
.formc .lado1c{
    height: max-content;
    margin: 1rem 1rem;
}
.formc .lado1c input{
    width: 8rem;
    border-radius: 0.5rem;
    border: black solid;
}
.formc .button1c {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #F66B0E 5%, #F66B0E 100%);
	background-color:#F66B0E;
	border-radius:3px;
	border:1px solid black;
	cursor:pointer;
	text-shadow:0px 1px 0px #854629;
    margin: 0 1rem;
}
.formc .button1c:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.formc .button1c:active {
	position:relative;
	top:1px;
}
.formc .button2c {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #F66B0E 5%, #F66B0E 100%);
	background-color:#F66B0E;
	border-radius:3px;
	border:1px solid black;
	cursor:pointer;
	text-shadow:0px 1px 0px #854629;
    margin: 0 1rem;
}
.formc .button2c:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.formc .button2c:active {
	position:relative;
	top:1px;
}
.formc .button3c {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #F66B0E 5%, #F66B0E 100%);
	background-color:#F66B0E;
	border-radius:3px;
	border:1px solid black;
	cursor:pointer;
	text-shadow:0px 1px 0px #854629;
    margin: 0 1rem;
}
.formc .button3c:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.formc .button3c:active {
	position:relative;
	top:1px;
}
.circle__section .result__sectionc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 2rem 0;
    border: black solid 0.5rem;
}
.circle__section .result__sectionc p{
    text-align: center;
    font-size: 2rem;
} 



